:root {
  --background: #a188c0;
  --background-alt: #63438d;
  --primary-color: #afb3b8;
  --primary-color-alt: #6f7078;
  --secondary-color: #c97d2c;
  --secondary-color-alt: #128523;
  --text-color: #1e1c21;
  --text-color-alt: #37363a;
  --controls-color: #c02251;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: var(--background);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'DotGothic16', monospace;
  font-size: 16px;
}

.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  background-color: var(--primary-color);
  box-shadow: 12px 12px var(--primary-color-alt);
  height: 600px;
  width: 380px;
  border-radius: 15px 15px 50px;
}

.img-container {
  height: 250px;
  width: 250px;
  margin: 40px auto;
}

.img-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  outline: solid 10px var(--primary-color-alt);
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  color: var(--text-color);
}

h3 {
  font-size: 25px;
  text-align: center;
  margin: 5px 0 0;
  color: var(--text-color-alt);
}

audio {
  margin-top: 30px;
}
/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -30px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

/* Controls */
.player-controls {
  display: flex;
  align-items: center;
}

.fas {
  font-size: 35px;
  color: var(--controls-color);
  cursor: pointer;
  user-select: none;
}

.fas:hover {
  filter: brightness(80%);
}

.main-button {
  font-size: 50px;
  margin: 0 30px;
}

.footer {
  background-color: var(--background-alt);
  margin-top: auto;
  width: 100vw;
}

.copyright {
  text-align: center;
  font-size: 18px;
  line-height: 36px;
  margin: 0;
  color: var(--text-color);
}

.link {
  text-decoration: none;
  color: var(--text-color-alt);
}
/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 420px) {
  .player-container {
    scale: 0.9; /*пофиксить смещение элементов при смене разрешения*/
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }
}

